
      * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1e1e1e;
        user-select: none;
      }

      .hero {
        width: 350px;
        padding: 20px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.653);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
      }

      .fillz {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        padding: 10px 15px;
        font-size: 28px;
        text-align: right;
        border: none;
        border-radius: 8px;
        color: rgb(254, 252, 252);
        background: #111;
        outline: none;
      }

      .first {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
      }

      .first button {
        flex: 1;
        padding: 12px 0;
        text-align: center;
        border-radius: 8px;
        font-weight: bold;

        color: #fff;
        background-color: #ff4d4d;
        transition: 0.2s;
      }
      .first .allclear {
        background-color: #ff9800;
      }

      .second {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .second .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }

      .second button {
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 50px;
        background: #2b2b2b;
        color: #fff;
        cursor: pointer;
        user-select: none;
        transition: 0.2s;
      }

      .second .op {
        background: #3f51b5;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .first .enter {
        background: #444;
        border-radius: 5px;
      }

      .second button:hover {
        background: #444;
      }

      .second button:active {
        transform: scale(0.95);
      }
      button {
        border: none;
      }
    